PORT=3000
NODE_ENV=development

DB_HOST=backboard-postgres
DB_PORT=5432
DB_NAME=backboard-user-service
DB_USER=postgres
DB_PASSWORD=postgres

JWT_PRIVATE_KEY=
JWT_PUBLIC_KEY=
JWT_EXPIRES_IN=7d

ADMIN_PERMISSIONS=read:users,write:users

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

RABBITMQ_URL=amqp://backboard:backboardpass@backboard-rabbitmq:5672
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE=user.events

OTEL_ENABLED=true

OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=http://apm-server:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc

OTEL_SERVICE_NAME=user-service
OTEL_RESOURCE_ATTRIBUTES=deployment.environment=local,service.version=0.1.0

OTEL_TRACES_SAMPLER=parentbased_traceidratio
OTEL_TRACES_SAMPLER_ARG=0.2

